.chart-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

.chart-card {
    background-color: black;
    color: #ffffff;
    border: none;
}

.chart-card .slds-card__header {
    background-color: #3a3a50;
}

.chart-card .slds-card__header-title {
    color: #ffffff;
}

.slds-card {
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

.title {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background: #424242;
}
