:host {
    display: block;
    background-color: black;
}

.title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}